* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(331deg, rgba(2, 0, 36, 1) 0%, rgba(182, 182, 200, 1) 0%, rgba(191, 188, 205, 1) 18%, rgba(208, 199, 215, 1) 39%, rgba(189, 200, 217, 1) 53%, rgba(0, 212, 255, 1) 100%);
}

.container {
    background-color: rgba(222, 231, 240, .3);
    max-width: 1000px;
    min-height: 100vh;
    margin: 30px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

.container h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 10px 20px;
}

h1,
h2,
h3,
p {
    text-align: center;
}